@import "./variables/hero@variables";

.hero {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: $hero_mt $hero_mlr 0 $hero_mlr;

  &__greet {
    font-size: $her0_h1_fs;
    font-family: "Poppins";
    font-weight: $her0_h1_fw;
    color: $third-color;
    width: $her0_h1_w;

    &--about {
      width: 42.062rem;
      font-size: 44px;
      color: $third-color;
      line-height: 65px;
    }
  }

  &__green {
    color: red;
  }

  &__intro {
    width: $hero_intro_w;
    font-family: $second-font;
    font-size: $hero_intro_fs;
    color: $fourth-color;
  }
}
