@import "./variables/global@variables";
@import "./variables/navbar@variables";
.navbar {
  display: flex;
  justify-content: space-between;
  margin: $navbar_m_t $navbar_m_lr 0 $navbar_m_lr;
  &__logo {
    color: $third-color;
    font-family: $second-font;
    font-size: $navbar_logo_size;
  }
  &__item {
    margin-right: $navbar_links_li_mr;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__link {
    color: $third-color;
    font-size: $navbar_links_a_fs;
    font-weight: $navbar_links_a_fw;
    &::after {
      content: "";
      clear: both;
      display: block;
      border-radius: $navbar_links_a_after_br;
      width: $navbar_links_a_after_w;
      height: $navbar_links_a_after_h;
      opacity: 0;
      transition: all $navbar_links_a_after_w_hover_ts;
      background-color: $second-color;
    }
    &:hover::after {
      opacity: 1;
      width: $navbar_links_a_after_w_hover;
      transition: all $navbar_links_a_after_w_hover_ts;
    }
  }
}
