.about {
  &__container {
    width: 65.437rem;
    margin: 6.1875rem 6.75rem 0 6.75rem;
    height: 49.25rem;
    display: flex;
  }

  &--greet {
    width: 35.812rem;
  }

  &__photoCont {
    position: relative;
    &::after {
      content: "";
      clear: both;
      display: block;
      width: 35.25rem;
      height: 47.062rem;
      border: 1px solid $fourth-color;
      opacity: 60%;
      position: absolute;
      top: 2.125rem;
      left: -2.312rem;
      z-index: -3;
    }
  }

  &__photo {
    width: 35.25rem;
    height: 47.062rem;
    object-fit: cover;
    content: "";
    display: block;
    position: relative;
  }
  &__details {
    padding-left: 4.187rem;
  }

  &__head {
    color: $third-color;
  }

  &__text {
    color: $fourth-color;
    margin-bottom: 2.75em;
  }
  &__services {
    margin-bottom: 5.875em;
    width: 17.437em;
    display: flex;
    justify-content: space-between;
  }
  &__serviceItem {
    color: $third-color;
  }

  &__cv {
    color: $third-color;
    border: 1px solid $third-color;
    padding: 1.125rem 3.125rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $third-color;
      transition: all 0.3s ease-in-out;
      color: $dark-color;
    }
  }

  &__stacksCont {
    margin-top: 6.968rem;
    margin-left: 4.437rem;
    margin-right: 4.437rem;
  }

  &__iconList {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__iconItems img {
    opacity: 60%;
  }
}
