//style for works@works
.works {
  padding: $works_padding;
  &__grid {
    display: grid;
    gap: 2.437rem;
    grid-template-columns: 34.687rem 34.687rem;
  }

  &__title {
    color: $third-color;
    font-family: $title_ff;
    font-size: $title_fs;
    font-weight: $title_fw;
    margin-bottom: $title_mb;
  }

  &__flex {
    display: flex;
    margin-bottom: $flex_mb;
  }
  &__image--b1ImgH,
  &__workItem--b1H {
    @include hoverWork;
    width: 34.687rem;
  }

  &__workItem {
    padding-bottom: $workItem_pb;

    &__grid {
      display: grid;
      gap: $grid_gap;
      grid-template-columns: $grid_tc;
      width: $grid_w;
    }
  }

  &__loadBtn {
    &:hover {
      background-color: $third-color;
      color: $dark_color;
      font-weight: $loadBtn_fw;
      transition: $transition;
    }

    display: block;

    padding: $loadBtn_p;
    text-align: center;
    background: none;
    border: 1px solid $third-color;
    color: $third-color;
    cursor: pointer;
    font-family: $loadBtn_ff;
    font-weight: $loadBtn_fw;
    margin: $loadBtn_mt auto 0 auto;
  }
}
