//style for works@works
.works {
  padding: $works_padding;

  &__title {
    font-family: $title_ff;
    font-size: $title_fs;
    font-weight: $title_fw;
    color: $third-color;
    margin-bottom: $title_mb;
  }

  &__flex {
    display: flex;
    margin-bottom: $flex_mb;
  }
}
//style for workItem@works
.workItem {
  margin-left: $workItem_ml;
  margin-right: $workItem_mr;
  padding-bottom: $workItem_pb;

  &__grid {
    width: $grid_w;
    display: grid;
    grid-template-columns: $grid_tc;
    gap: $grid_gap;
  }

  //style for workSize@works
  .latest__image--b1ImgH,
  .latest__workItem--b1H {
    width: $workItem_h;
  }

  &__loadBtn {
    &:hover {
      background-color: $third-color;
      color: $dark_color;
      font-weight: $loadBtn_fw;
      transition: $transition;
    }

    display: block;
    margin-top: $loadBtn_mt;
    padding: $loadBtn_p;
    text-align: center;
    background: none;
    border: 1px solid $third-color;
    color: $third-color;
    cursor: pointer;
    font-family: $loadBtn_ff;
    font-weight: $loadBtn_fw;
    margin: 0 auto;
  }
}
