@mixin workItem {
  &__workItem {
    margin-bottom: $b1_margin_b;
    width: $b1-w;
    &--b1H {
      height: $b1_h;
    }
    &--b2H {
      height: $b2_h;
    }
    &--b3H {
      height: $b3_h;
    }

    @include hoverWork;
  }
  &__image {
    &--b1ImgH,
    &--b2ImgH,
    &--b3ImgH {
      object-fit: cover;
      width: 100%;
    }
    &--b1ImgH {
      height: $b1_img_h;
    }
    &--b2ImgH {
      height: $b2_img_h;
    }
    &--b3ImgH {
      height: $b3_img_h;
    }
    width: 100%;
    background: $b1_img;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
  }
  &__title {
    margin-top: $title_margin_t;
    font-size: 15px;
    color: $third-color;
  }
  &__stack,
  &__view {
    font-family: $view_stack_ff;
    font-size: $view_stack_fs;
    color: $fourth-color;
    transition: 0.2s all ease-in-out;
  }
  &__view {
    opacity: 0;
    &::after {
      content: "";
      clear: both;
      display: inline-block;
      width: 15px;
      height: 3px;
      border-radius: 5px;
      position: relative;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $second-color;
    }
  }
}
