$latest_margin: 121px 109px 0 109px;
$head_fs: 15px;
$head_fw: 400;
$type_margin_l: 44.1px;
$latest_works_width: 1148px;
$latest_works_height: 1229.33px;
$latest_works_margin: 32px 109px 0 109px;
$latest_works_grid_template_col: 350px 350px 350px;
$latest_works_grid_gap: 49px;
$b1_w: 350px;
$b1_h: 584px;
$b1_img_h: 490px;
$b2_h: 420.66px;
$b2_img_h: 326.66px;
$b3_h: 490.63px;
$b3_img_h: 396.66px;
$b1_img: url("/img/b1.jpg");
$b1_margin_b: 31px;
$title_margin_t: 22px;
$title_fs: 15px;
$view_stack_ff: "Roboto";
$view_stack_m_t: 10px;
$view_stack_margin_top: 10px;
$view_stack_fs: 13px;
