$navbar_m_t: 2.125em;
$navbar_m_lr: 5.5em;
$navbar_logo_size: 25px;
$navbar_links_li_mr: 4.937em;
$navbar_links_a_fs: 16px;
$navbar_links_a_fw: 500;
$navbar_links_a_after_br: 4px;
$navbar_links_a_after_w: 0;
$navbar_links_a_after_w_hover: 15px;
$navbar_links_a_after_w_hover_ts: 0.5s;
$navbar_links_a_after_h: 4px;
