$works_p_l: 6.75rem;
$works_p_t: 3.562rem;
$title_ff: "Poppins";
$title_fs: 54px;
$title_fw: 700;
$title_mb: 3.562rem;
$flex_mb: 3.468rem;
$workItem_ml: 6.75rem;
$workItem_mr: 6.75rem;
$workItem_pb: 4.718rem;
$workItem_h: 100%;
$grid_w: 100%;
$grid_tc: 34.687rem 34.687rem;
$grid_gap: 2.437rem;
$loadBtn_fw: 500;
$transition: all 0.4s ease-in-out;
$loadBtn_p: 18px 3.312rem;
$loadBtn_mt: 7.3rem;
$loadBtn_ff: "Roboto";
